:root {
	--beige: #ecebe4;
	/* Main colors. */
	--warmth: #e07c3e;
	--earth: #686569;
	--stone: #cdc7b4;
	--ocean: #009392;
	/* Complimentary colors. */
	--dusk: #005e64;
	--sun: #f6cd2d;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--beige);
	align-items: center;
}

h1 {
	display: flex;
	width: 200px;
	justify-content: space-evenly;
	color: var(--dusk);
}

div {
	color: var(--warmth);
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.5s;
}

a:hover {
	color: var(--warmth);
}

.warmth {
	color: var(--warmth);
	font-weight: bold;
}

nav {
	display: flex;
	width: 900px;
	justify-content: space-evenly;
	height: 70px;
	align-items: center;
}

canvas {
	animation: fadeIn ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	border-radius: 10px;
	box-shadow: 0 0 0 2px black;

	/* */
	margin-top: 10px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Articles. */

h2 {
	margin-bottom: 10px;
	color: var(--warmth);
}

article {
	background-color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	width: 700px;
}

ul,
li {
	list-style-type: none;
}

/* Everything text. */

@font-face {
	font-family: 'Lota Grotesque';
	src: url('/assets/LotaGrotesqueRegular.otf') format('OpenType');
}

* {
	font-family: 'Lota Grotesque', Verdana, Arial, Helvetica, sans-serif;
}

.creators,
h3 {
	color: var(--ocean);
}

/* Smartphones. */
@media screen and (max-width: 560px) {
	body {
	}

	nav {
		width: 80vw;
	}

	canvas {
		display: none;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}
}

/* Tablets. */
@media screen and (max-width: 767px) {
	nav {
		width: 80vw;
	}

	canvas {
		display: none;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}
}
