:root {
	--beige: #ecebe4;
	/* Main colors. */
	--warmth: #e07c3e;
	--earth: #686569;
	--stone: #cdc7b4;
	--ocean: #009392;
	/* Complimentary colors. */
	--dusk: #005e64;
	--sun: #f6cd2d;
	--green: #44f62d;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lota Grotesque', Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: 'Lota Grotesque';
	src: url('/assets/LotaGrotesqueRegular.otf') format('OpenType');
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--beige);
	align-items: center;
}

nav {
	display: flex;
	width: 900px;
	justify-content: space-evenly;
	height: 70px;
	align-items: center;
}

h1 {
	display: flex;
	width: 200px;
	justify-content: space-evenly;
	color: var(--dusk);
}

h2 {
	color: var(--warmth);
}

.noBackground {
	background-color: var(--beige);
}

h3 {
	color: var(--ocean);
	margin: 0px 0px 10px 0px;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.5s;
}

a:hover {
	color: var(--warmth);
}

.warmth {
	color: var(--warmth);
}

article {
	background-color: white;
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	width: 900px;
}

ul,
li {
	list-style-type: none;
	margin: 10px 0px 0px 0px;
}
