/* Smartphones. */
@media screen and (max-width: 560px) {
	nav {
		width: 80vw;
	}

	canvas {
		display: none;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}
}

/* Tablets. */
@media screen and (max-width: 767px) {
	nav {
		width: 80vw;
	}

	canvas {
		display: none;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}
}
