/* Smartphones. */
@media screen and (max-width: 560px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	nav {
		width: 80vw;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}

	canvas {
		box-shadow: none;
		display: none;
	}
}

/* Tablets. */
@media screen and (max-width: 767px) {
	nav {
		width: 80vw;
	}

	article {
		background-color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		width: 80vw;
	}

	canvas {
		box-shadow: none;
		display: none;
	}
}
